* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: nowrap;
  font-family: 'Myriad-Pro', '맑은 고딕';
}

body {
  transition: background 0.5s;
}

:root {
  --pl: #ffbe99;
  --p: #ff884b;
  --pd: #f15a23;
  --sd: #3e294d;
}

header,
section,
footer {
  padding: 0 !important;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.por {
  position: relative;
}

.df {
  display: flex;
}

.flc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.jce {
  justify-content: space-evenly;
}

.jca {
  justify-content: space-around;
}

.aic {
  align-items: center;
}

.ais {
  align-items: stretch;
}

.aie {
  align-items: end;
}

.tc {
  text-align: center;
}

.fwb {
  font-weight: bold;
}

.f12 {
  font-size: 12px !important;
}

.f24 {
  font-size: 24px !important;
}

header {
  z-index: 999;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, calc(var(--bgop) * 0.01)), rgba(255, 255, 255, var(--bgop)));
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, calc(var(--bgop) * 0.15));
  animation-name: bgop;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);

  & .bar {
    left: -100%;
    transform: translateX(var(--progress));
    width: 100%;
    height: 10px;
    background: red;
    animation-name: progress;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-timeline: scroll(y root);
  }
}

header .side {
  width: calc((1903px - 1440px) / 2);
  height: 100vh;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;

  & .upper-side {
    height: 120px;
  }

  & .lower-side {
    height: calc(100vh - 120px);
    background: white;

    & .menu-container {
      & .main {
        height: 40px;

        & .bg {
          transform: translateX(101%);
        }
      }

      &:has(.menu:hover) {
        & .sub {
          height: 40px;
          opacity: 1;
        }
      }

      &:hover {
        & .main {
          & .bg {
            transform: translateX(0%);
          }

          & a {
            color: white;
          }
        }
      }

      & .sub {
        height: 0px;
        opacity: 0;
        transition: .5s;

        & .bg {
          transform: scale(0);
          opacity: 0;
        }

        &:hover .bg {
          transform: scale(1);
          opacity: 1;
        }
      }

      & .bg {
        transition: .5s;
        background: linear-gradient(to right, var(--pl), var(--pd));
      }

      & .menu {
        background: white;
        font-weight: bold;
        overflow: hidden;

        & a {
          z-index: 500;
          transition: .5s;
        }


        &:hover {
          & a {
            color: white;
          }
        }
      }
    }
  }
}

.header-content {
  width: 1440px;
}

header .hamburger-btns {
  top: 60px;
  right: 30px;
  z-index: 1000;
  transform: translateY(-50%);

  & label {
    display: none;
  }
}

:has(#openSide:checked) {
  & .closeSide {
    display: block;
  }

  & .side {
    right: 0px;
  }
}

:has(#closeSide:checked) {
  & .openSide {
    display: block;
  }

  & .side {
    right: -450px;
  }
}

nav {
  & .menu-container {
    height: 40px;

    &:has(.menu:hover) {
      & .sub {
        height: 40px;
        opacity: 1;
        transform: scaleX(1);
      }

      & .main {
        color: white;

        & .bg {
          transform: translateX(0%);
        }
      }
    }

    & .main {
      height: 40px;

      & .bg {
        transform: translateX(101%);
      }
    }

    & .sub {
      transform-origin: right;
      transform: scaleX(0);
      height: 40px;
      opacity: 0;
      transition: .5s;

      & .bg {
        transform: scale(0);
        opacity: 0;
      }

      &:hover .bg {
        transform: scale(1);
        opacity: 1;
      }
    }

    & .bg {
      transition: .5s;
      background: linear-gradient(to right, var(--pl), var(--pd));
    }

    & .menu {
      background: white;
      font-weight: bold;
      overflow: hidden;

      & a {
        z-index: 500;
        transition: .5s;
      }

      &:hover {
        transition: .5s;

        & a {
          color: white;
        }
      }
    }
  }
}

@property --progress {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

@keyframes progress {
  from {
    --progress: 0%
  }

  to {
    --progress: 100%
  }
}

@property --bgop {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes bgop {
  0% {
    --bgop: 0
  }

  10%,
  100% {
    --bgop: 1
  }
}

.modal-container {
  z-index: -1;
  --modal-op: 0;
  --modal-ty: -80vh;
  transition: background 0.5s, z-index 0s 0.5s;
  background: rgba(0, 0, 0, var(--modal-op));

  & .modal-content {
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.4, 1.5);
    width: 400px;
    transform: translateY(var(--modal-ty));

    .modal-title span {
      height: 1px;
      background: #000;
    }
  }
}

:has(#showLogin:checked) .loginModal {
  transition: background 0.5s 0.5s;
  z-index: 1000;
  --modal-op: 0.5;
  --modal-ty: 0vh;
}

:has(#showSignup:checked) .signupModal {
  transition: background 0.5s 0.5s;
  z-index: 1000;
  --modal-op: 0.5;
  --modal-ty: 0vh;
}

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &:has(#slide-play:checked) {
    & .slide-animation {
      animation-play-state: running;
    }

    & [for="slide-play"] {
      display: none;
    }
  }


  &:has(#slide-pause:checked) {
    & .slide-animation {
      animation-play-state: paused;
    }

    & [for="slide-pause"] {
      display: none;
    }
  }

  & .visual-text {
    z-index: 15;
    color: var(--sd);
    left: 230px;
    top: 180px;

    & .main-title {
      font-family: 'impact';
      height: 80px;
      font-size: 72px;
    }

    & .visual-progress-container {
      width: 300px;
      height: 20px;
      background: var(--sd);
      overflow: hidden;
      --progress: 0%;
      animation: visual-progress 3.75s 1.25s linear infinite;

      & .visual-progress {
        width: 100%;
        height: 100%;
        background: white;
        transform: translateX(calc(var(--progress) - 100%));
      }
    }

    & label {
      font-size: 40px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#sub-visual {
  & .sunrise-text {
    opacity: 0;
    top: 200px;
    animation: sunrise 1.5s cubic-bezier(0.1, 0.5, 0.5, 1.0) forwards;
  }
}

@keyframes sunrise {
  from {
    opacity: 0;
    top: 200px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.visual-text-cube {
  --w: 500px;
  --h: 24px;
  animation: horizontal-turn 15s cubic-bezier(0.6, -0.5, 0.3, 1.5) infinite;
}

.horizontal-slide {
  perspective: 1000px;
  transform-style: preserve-3d;

  & .cube {
    --d: calc(var(--w) / 2);
    width: var(--w);
    height: var(--h);
    transform: translateZ(calc(var(--d) * -1)) rotateY(var(--turn));
    transform-style: preserve-3d;

    & .face {
      width: var(--w);
      height: var(--h);
      overflow: hidden;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &:nth-of-type(1) {
        transform: rotateY(0deg) translateZ(var(--d));
      }

      &:nth-of-type(2) {
        transform: rotateY(90deg) translateZ(var(--d));
      }

      &:nth-of-type(3) {
        transform: rotateY(180deg) translateZ(var(--d));
      }

      &:nth-of-type(4) {
        transform: rotateY(270deg) translateZ(var(--d));
      }

      &:nth-of-type(5) {
        background: black;
        transform: rotateY(270deg) translateZ(var(--d));
      }

      &:nth-of-type(6) {
        transform: rotateY(270deg) translateZ(var(--d));
      }
    }
  }
}

@keyframes horizontal-turn {

  0%,
  8.3333% {
    --turn: 0deg
  }

  25%,
  33.3333% {
    --turn: -90deg
  }

  50%,
  58.3333% {
    --turn: -180deg
  }

  75%,
  83.3333% {
    --turn: -270deg
  }

  100% {
    --turn: -360deg
  }
}

@keyframes visual-progress {
  0% {
    --progress: 0%
  }

  100% {
    --progress: 100%
  }
}

& .visual-cover {
  z-index: 10;

  & img {
    transition: 1s;

    &:nth-of-type(2) {
      right: -50px;
      bottom: 180px;
    }

    &:nth-of-type(3) {
      left: 70px;
    }
  }

  & svg {
    position: absolute;
    transform-origin: left;
    transition: opacity .5s;
    transform: translateX(max(calc(100vw - 1920px), -200px));
    animation: fly 1.5s forwards;

    & #light {
      transform: translateX(-100%);
    }
  }

  &:hover {
    & img:nth-of-type(3) {
      opacity: .8;
    }

    & svg {
      opacity: .8;

      & #light {
        animation: shine 2s infinite;
      }
    }
  }
}

@keyframes fly {
  from {
    transform: translate(-100%, -100%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes shine {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.slide {
  perspective: 1000px;
  transform-style: preserve-3d;

  &.sub {
    --h: 400px;
  }

  & .cube {
    width: var(--w);
    height: var(--h);
    transform: translateZ(calc(var(--d) * -1)) rotateX(var(--turn));
    transform-style: preserve-3d;

    &:nth-of-type(1) {
      z-index: 1;
      --delay: calc(var(--base-delay) * 0);

      & .face {
        background-position-x: calc(var(--w) * -0);
      }
    }

    &:nth-of-type(2) {
      z-index: 2;
      --delay: calc(var(--base-delay) * 1);

      & .face {
        background-position-x: calc(var(--w) * -1);
      }
    }

    &:nth-of-type(3) {
      z-index: 3;
      --delay: calc(var(--base-delay) * 2);

      & .face {
        background-position-x: calc(var(--w) * -2);
      }
    }

    &:nth-of-type(4) {
      z-index: 4;
      --delay: calc(var(--base-delay) * 3);

      & .face {
        background-position-x: calc(var(--w) * -3);
      }
    }

    &:nth-of-type(5) {
      z-index: 5;
      --delay: calc(var(--base-delay) * 4);

      & .face {
        background-position-x: calc(var(--w) * -4);
      }
    }

    &:nth-of-type(6) {
      z-index: 5;
      --delay: calc(var(--base-delay) * 5);

      & .face {
        background-position-x: calc(var(--w) * -5);
      }
    }

    &:nth-of-type(7) {
      z-index: 4;
      --delay: calc(var(--base-delay) * 6);

      & .face {
        background-position-x: calc(var(--w) * -6);
      }
    }

    &:nth-of-type(8) {
      z-index: 3;
      --delay: calc(var(--base-delay) * 7);

      & .face {
        background-position-x: calc(var(--w) * -7);
      }
    }

    &:nth-of-type(9) {
      z-index: 2;
      --delay: calc(var(--base-delay) * 8);

      & .face {
        background-position-x: calc(var(--w) * -8);
      }
    }

    &:nth-of-type(10) {
      z-index: 1;
      --delay: calc(var(--base-delay) * 9);

      & .face {
        background-position-x: calc(var(--w) * -9);
      }
    }

    & .face {
      width: var(--w);
      height: var(--h);
      overflow: hidden;
      transform-style: preserve-3d;
      background-size: calc(var(--w) * var(--c)) var(--h);

      &:nth-of-type(1) {
        background-image: var(--bg1);
        transform: rotateX(0deg) translateZ(var(--d));
      }

      &:nth-of-type(2) {
        background-image: var(--bg2);
        transform: rotateX(90deg) translateZ(var(--d));
      }

      &:nth-of-type(3) {
        background-image: var(--bg3);
        transform: rotateX(180deg) translateZ(var(--d));
      }

      &:nth-of-type(4) {
        background-image: var(--bg4);
        transform: rotateX(270deg) translateZ(var(--d));
      }

      &:nth-of-type(5) {
        background: #000;
        width: var(--h);
        height: var(--h);
        left: 50%;
        transform: translateX(-50%) rotateY(90deg) translateZ(calc(var(--w) / 2));
      }

      &:nth-of-type(6) {
        background: #000;
        width: var(--h);
        height: var(--h);
        left: 50%;
        transform: translateX(-50%) rotateY(-90deg) translateZ(calc(var(--w) / 2));
      }
    }
  }
}

.visual-slide {
  --c: 10;
  --w: calc(100vw / var(--c));
  --h: 100vh;
  --d: calc(var(--h) / 2);
  --base-delay: 0.1s;
  width: 100vw;
  height: var(--h);
  --bg1: url('../img/slide1.jpg');
  --bg2: url('../img/slide2.jpg');
  --bg3: url('../img/slide3.jpg');
  --bg4: url('../img/slide4.jpg');

  & .cube {
    animation: turn 15s calc(1.25s + var(--delay)) cubic-bezier(0.6, -1, 0.3, 1.5) infinite;
  }
}

@property --turn {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

@keyframes turn {
  0% {
    --turn: -0deg
  }

  10%,
  25% {
    --turn: -90deg;
  }

  35%,
  50% {
    --turn: -180deg;
  }

  60%,
  75% {
    --turn: -270deg;
  }

  85%,
  100% {
    --turn: -360deg;
  }
}


.section-content {
  width: 1440px;
  margin: 0 auto;
}

.section-title {
  color: var(--sd);

  .sub-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;

    & span {
      width: 100%;
      height: 2px;
      margin-left: 10px;
      background: var(--sd);
    }
  }

  .main-title {
    font-family: 'impact';
  }
}

.polygon {
  width: 100%;
  height: 100%;
  --clip: 30px;
  clip-path: polygon(var(--clip) 0, calc(100% - var(--clip)) 0, 100% var(--clip), 100% calc(100% - var(--clip)), calc(100% - var(--clip)) 100%, var(--clip) 100%, 0% calc(100% - var(--clip)), 0% var(--clip));
  overflow: hidden;

  &.polygon-sm {
    --clip: 10px;
  }

  &.shadow {
    display: none;
    box-shadow: none !important;
  }
}

.por:has(>.polygon.shadow) {
  filter: drop-shadow(5px 5px 5px #ccc)
}

.bg-gradient {
  background: linear-gradient(to right bottom, white, var(--pl)) !important;
}

.bg-gradient-dark {
  background: linear-gradient(to right bottom, var(--pl), var(--pd)) !important;
}

.bg-pri {
  background: #ed6c22;
  color: white;
}

.bg-pri-light {
  background: var(--pl);
  color: white;
}

.bg-content {
  background-image: url('../img/content.png') !important;
  background-size: 100% 100%;
  color: white;
}

.pop {
  transition: transform .5s;

  &:hover {
    transform: translate(min(-1%, -1px), min(-1%, -1px));
    box-shadow: 1px 1px 1px #888888;
    cursor: pointer;
  }
}

#best5>img {
  transform: rotateZ(120deg) scale(0.7);
  left: -40px;
  top: -40px;
}

.event-container {
  --lh: 60vh;
  height: var(--lh);
}

.event {
  &::after {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    color: white;
    font-weight: bold;
    opacity: 0;
  }

  &:hover {
    & .bg {
      left: 0;
    }

    & .event-text {
      opacity: 1;
      transition: 0.5s 0.5s;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 50%;
      opacity: 1;
      transition: .5s;
    }
  }

  &:nth-of-type(1)::after {
    content: var(--i1);
  }

  &:nth-of-type(2)::after {
    content: var(--i2);
  }

  &:nth-of-type(3)::after {
    content: var(--i3);
  }

  &:nth-of-type(4)::after {
    content: var(--i4);
  }

  &:nth-of-type(5)::after {
    content: var(--i5);
  }
}

.event {
  --c: 5;
  --w: calc(100% / var(--c));
  --hover-w: calc(var(--w) * 2);
  --unhover-w: calc((100% - var(--hover-w)) / calc(var(--c) - 1));
  --checked-w: 1440px;
  width: var(--w);
  height: var(--lh);
  background: #000;
  cursor: pointer;
  transition: .5s;
  background-position-x: center;
  background-size: 1440px 100%;
  overflow: hidden;
  --i1: "1";
  --i2: "2";
  --i3: "3";
  --i4: "4";
  --i5: "5";

  & .bg {
    transition: 0.5s;
    opacity: .8;

    left: 100%;
    bottom: 0;
    background: linear-gradient(to right, var(--p), var(--pd));
  }

  & .event-text {
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);

    /* & * {
      white-space: break-spaces;
    } */

  }
}

.e1 {
  background-image: url(../img/01_대릉원.jpg);
}

.e2 {
  background-image: url(../img/02_도산서원.jpg);
}

.e3 {
  background-image: url(../img/03_울릉도.jpg);
}

.e4 {
  background-image: url(../img/04_하회마을.jpg);
}

.e5 {
  background-image: url(../img/05_호미곶.jpg);
}

:has(.event:hover) {
  .event {
    width: var(--unhover-w);

    &:hover {
      width: var(--hover-w);
    }
  }
}

.modal_bg {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -1;
}

:not(:has(#eventclose:checked)) {
  & .modal_bg {
    transition: opacity 0.5s 0.5s;
    opacity: 1;
    z-index: 9998;
  }

  & .event {
    width: 0;
  }
}

:has(#e1:checked) {
  & .e1 {
    z-index: 9999;
    transition-delay: 0.5s;
    width: var(--checked-w) !important;

    & .closebtn {
      /* transition-delay: 0.5s; */
      display: block !important;
    }

    & .bg {
      left: 0;

    }

    & .event-text {
      opacity: 1;
      transition: opacity 0.5s 0.5s, 0.5s;
      width: 50% !important;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 30%;
      opacity: 1;
      transition: .5s;
    }
  }
}

:has(#e2:checked) {

  & .e2 {
    z-index: 9999;
    transition-delay: 0.5s;
    width: var(--checked-w) !important;

    & .closebtn {
      transition-delay: 0.5s;
      display: block !important;
    }

    & .bg {
      left: 0;

    }

    & .event-text {
      opacity: 1;
      transition: opacity 0.5s 0.5s, 0.5s;
      width: 50% !important;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 30%;
      opacity: 1;
      transition: .5s;
    }
  }
}

:has(#e3:checked) {

  & .e3 {
    z-index: 9999;
    transition-delay: 0.5s;
    width: var(--checked-w) !important;

    & .closebtn {
      transition-delay: 0.5s;
      display: block !important;
    }

    & .bg {
      left: 0;

    }

    & .event-text {
      opacity: 1;
      transition: opacity 0.5s 0.5s, 0.5s;
      width: 50% !important;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 30%;
      opacity: 1;
      transition: .5s;
    }
  }
}

:has(#e4:checked) {

  & .e4 {
    z-index: 9999;
    transition-delay: 0.5s;
    width: var(--checked-w) !important;

    & .closebtn {
      transition-delay: 0.5s;
      display: block !important;
    }

    & .bg {
      left: 0;

    }

    & .event-text {
      opacity: 1;
      transition: opacity 0.5s 0.5s, 0.5s;
      width: 50% !important;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 30%;
      opacity: 1;
      transition: .5s;
    }
  }
}

:has(#e5:checked) {

  & .e5 {
    z-index: 9999;
    transition-delay: 0.5s;
    width: var(--checked-w) !important;

    & .closebtn {
      transition-delay: 0.5s;
      display: block !important;
    }

    & .bg {
      left: 0;

    }

    & .event-text {
      opacity: 1;
      transition: opacity 0.5s 0.5s, 0.5s;
      width: 50% !important;
    }

    &::after {
      font-size: 200px;
      transform: translateY(-60%);
      top: 30%;
      opacity: 1;
      transition: .5s;
    }
  }
}

.closebtn {
  cursor: pointer;
  z-index: 10;
  top: 30px;
  right: 30px;
  font-size: 30px;
  display: none !important;

  &:hover {
    transform: scale(1.2);
  }
}

#guide>img {
  top: 200px;
  right: 0;
  transform: rotateZ(-70deg) scale(0.5);
}



footer {
  height: 300px;
  background-image: url('../img/footer.png');

  & .footer-content {
    width: 1440px;
    height: 100%;
    padding-top: 100px;

    & .footer-menu:hover {
      font-weight: bold;
      color: #3b64ff !important;
    }

    & .sns {
      width: 40px;
      height: 40px;
      transition: .5s;

      &:hover {
        transform: rotateZ(360deg) scale(1.2);
      }
    }
  }
}

.guide {
  & .guide-row {
    width: 1440px;

    &:nth-of-type(2) {
      height: 200px;
    }

    &:nth-of-type(3) {
      height: 150px;
    }

    &:nth-of-type(4) {
      height: 250px;
    }

    &:hover .guide-col .bg {
      transform: translateX(100%);
    }

    &:hover~.guide-row .bg {
      transform: translateY(-100%);
    }

    &.top-row {
      top: -200px;
    }

    &.bottom-row {
      bottom: -200px;
    }

    & .guide-col {
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center;
      height: 100%;
      transition: .5s;

      &.left-col {
        width: 100%;
        left: -100%;
      }

      &.right-col {
        width: 100%;
        right: -100%;
      }

      & .bg {
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: transform 0.2s, 0.5s;
        transition-timing-function: cubic-bezier(0.2, 1.0, 0.2, 1.0);
        transform: translateY(100%);
        visibility: hidden;
      }

      &:hover {
        background-size: 150% 150%;

        & .bg {
          transform: none;
          visibility: visible;
        }

        &~.guide-col .bg {
          transform: translateX(-100%);
        }
      }
    }

    & .gb1 {
      background-image: url('../img/guide1.jpg');
    }

    & .gb2 {
      background-image: url('../img/guide2.jpg');
    }

    & .gb3 {
      background-image: url('../img/guide3.jpg');
    }

    & .gb4 {
      background-image: url('../img/guide4.jpg');
    }

    & .gb5 {
      background-image: url('../img/guide5.jpg');
    }

    & .gb6 {
      background-image: url('../img/guide6.jpg');
    }

    & .gb7 {
      background-image: url('../img/guide7.jpg');
    }

    & .gb8 {
      background-image: url('../img/guide8.jpg');
    }

    & .gb9 {
      background-image: url('../img/guide9.jpg');
    }

    & .gb10 {
      background-image: url('../img/guide10.jpg');
    }
  }
}

#info>img {
  transform: rotateZ(110deg) scale(0.7);
  left: -50px;
  bottom: 0px;
}

.timeline {
  height: 500px;

  & .info-schedule {
    height: calc(100% / 3);
  }

  & .img-container {
    height: calc(100% * 2 / 3);
    overflow: hidden;

    & .img-clip {
      transform: scaleX(110%);
    }
  }

  & .day {
    color: var(--pd);
  }
}

.gallery {
  --gap: 20px;
  --w: 200px;
  height: calc(var(--w) * 3 + var(--gap) * 2);

  & .expanded-gallery {
    width: calc(var(--w) * 3 + var(--gap) * 2);
    height: 100%;
    background: linear-gradient(to bottom right, white, var(--pl));

    & label {
      cursor: pointer;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      transition: .5s;
      z-index: 500;
      background: white;
    }

    & .img-grid {
      display: grid;
      grid: auto-flow var(--w) / repeat(3, var(--w));
      gap: var(--gap);
      transition: .5s;
      transform: scale(0.05);
      opacity: 0;

      & * {
        width: var(--w);
        height: var(--w);
      }

      & img {
        transition: .5s;
      }

      &:nth-of-type(1) {
        transition-delay: .2s;

        & img {
          transition-delay: .2s;
        }
      }

      &:nth-of-type(2) {
        transition-delay: .6s;

        & img {
          transition-delay: .6s;
        }
      }

      &:nth-of-type(3) {
        transition-delay: .4s;

        & img {
          transition-delay: .4s;
        }
      }

      &:nth-of-type(4) {
        transition-delay: .8s;

        & img {
          transition-delay: .8s;
        }
      }

      &:nth-of-type(5) {
        transition-delay: 1.0s;

        & img {
          transition-delay: 1.0s;
        }
      }

      &:nth-of-type(6) {
        transition-delay: .8s;

        & img {
          transition-delay: .8s;
        }
      }

      &:nth-of-type(7) {
        transition-delay: .4s;

        & img {
          transition-delay: .4s;
        }
      }

      &:nth-of-type(8) {
        transition-delay: .6s;

        & img {
          transition-delay: .6s;
        }
      }

      &:nth-of-type(9) {
        transition-delay: .2s;

        & img {
          transition-delay: .2s;
        }
      }
    }

    &:has(#expanded:checked) {
      & label {
        transform: translate(calc(-50% + calc(var(--w) * 2.5)), -50%);

        &[for="expanded"] {
          z-index: -1;
        }
      }

      & .img-grid {
        transform: scale(1);
        opacity: 1;

        & img {
          transform: rotateZ(360deg);
        }
      }
    }

    &:has(#shrinked:checked) {
      & label[for="shrinked"] {
        z-index: -1;
      }
    }
  }

  & .cube-gallery {
    width: calc(var(--w) * 2);
    height: 100%;

    & .horizontal-slide {
      transform: rotateX(-12deg);
    }

    & .horizontal-slide:hover .img-cube {
      --turn: -270deg;
    }

    & .img-cube {
      --h: var(--w);
      transition: 1.5s;

      & .face {
        background-size: 100% 100%;

        &.top {
          background: black;
          transform: rotateX(90deg) translateZ(var(--d));
        }

        &.face1 {
          background-image: url(../img/cube1.jpg);
        }

        &.face2 {
          background-image: url(../img/cube2.jpg);
        }

        &.face3 {
          background-image: url(../img/cube3.jpg);
        }

        &.face4 {
          background-image: url(../img/cube4.jpg);
        }

        &.face5 {
          background-image: url(../img/cube5.jpg);
        }

        &.face6 {
          background-image: url(../img/cube6.jpg);
        }

        &.face7 {
          background-image: url(../img/cube7.jpg);
        }

        &.face8 {
          background-image: url(../img/cube8.jpg);
        }

        &.face9 {
          background-image: url(../img/cube9.jpg);
        }

        &.text-face {
          background: linear-gradient(to right, var(--p), var(--pd));
        }
      }
    }
  }
}

.festival-container {
  --img-w: 300px;
  --h: calc(var(--img-w) * 1.4);
  height: var(--h);
  overflow: hidden;

  & .festival-viewer {
    overflow: scroll;
    width: var(--h);
    height: 1440px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);

    &::-webkit-scrollbar {
      display: none;
    }

  }

  & .festival-slide {
    width: var(--h);
    height: 2880px;

    & .festival-img {
      width: calc(var(--img-w) * var(--r));
      height: calc(var(--h) * var(--r));
      transform: rotate(90deg);
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-timeline: scroll(nearest);
      transition: transform 0.5s, clip-path 0.5s, opacity 0.5s, background 0.5s;
      background-image: var(--bg);
      background-size: 100% 100%;
      background-position: center;
      --clip: 20px;

      &:hover {
        --clip: 40px;
        opacity: 0.8;
        cursor: pointer;
        background-size: 110% 110%;
      }

      &:nth-of-type(1) {
        --bg: url('../img/축제1.jpg');
      }

      &:nth-of-type(2) {
        --bg: url('../img/축제2.jpg');
        animation-name: img2;
      }

      &:nth-of-type(3) {
        --bg: url('../img/축제3.jpg');
        animation-name: img3;
      }

      &:nth-of-type(4) {
        --bg: url('../img/축제4.jpg');
        animation-name: img4;
      }

      &:nth-of-type(5) {
        --bg: url('../img/축제5.jpg');
        animation-name: img5;
      }

      &:nth-of-type(6) {
        --bg: url('../img/축제6.jpg');
        animation-name: img6;
      }

      &:nth-of-type(7) {
        --bg: url('../img/축제7.jpg');
        animation-name: img7;
      }

      &:nth-of-type(8) {
        --bg: url('../img/축제8.jpg');
        animation-name: img8;
      }

      &:nth-of-type(9) {
        --bg: url('../img/축제9.jpg');
        animation-name: img9;
      }

      &:nth-of-type(10) {
        --bg: url('../img/축제10.jpg');
      }
    }
  }
}

@property --r {
  syntax: '<number>';
  initial-value: 0.3;
  inherits: true;
}

@keyframes img2 {
  0% {
    --r: 0.65
  }

  20%,
  40% {
    --r: 0.3
  }

  80% {
    --r: 1
  }

  100% {
    --r: 0.65
  }
}

@keyframes img3 {
  0% {
    --r: 1.0
  }

  40%,
  60% {
    --r: 0.3
  }

  100% {
    --r: 1
  }
}

@keyframes img4 {
  0% {
    --r: 0.65
  }

  20% {
    --r: 1.0
  }

  60%,
  80% {
    --r: 0.3
  }

  100% {
    --r: 0.65
  }
}

@keyframes img5 {
  0% {
    --r: 0.3
  }

  40% {
    --r: 1.0
  }

  80%,
  100% {
    --r: 0.3
  }
}

@keyframes img6 {

  0%,
  20% {
    --r: 0.3
  }

  60% {
    --r: 1.0
  }

  100% {
    --r: 0.3
  }
}

@keyframes img7 {
  0% {
    --r: 0.65
  }

  20%,
  40% {
    --r: 0.3
  }

  80% {
    --r: 1.0
  }

  100% {
    --r: 0.65
  }
}

@keyframes img8 {

  0% {
    --r: 1.0
  }

  40%,
  60% {
    --r: 0.3
  }

  100% {
    --r: 1.0
  }
}

@keyframes img9 {

  0% {
    --r: 0.65
  }

  20% {
    --r: 1.0
  }

  60%,
  80% {
    --r: 0.3
  }

  100% {
    --r: 0.65
  }
}

#tour>img {
  transform: scale(0.6) rotateZ(-50deg);
  top: 200px;
  right: -70px;
}

.tour-tab {
  --c: 10;
  --w: calc(1440px / var(--c));
  --h: 600px;
  --d: calc(var(--h) / 2);
  --base-delay: 0.1s;
  width: 1440px;
  height: var(--h);

  & .cube {
    animation-duration: 1s;
    animation-delay: var(--delay);
    animation-timing-function: cubic-bezier(0.6, -1, 0.4, 1.5);
    animation-fill-mode: forwards;
  }

  & .face:nth-of-type(1) {
    transition-delay: 2s;
    transition-property: background-image;
  }

  & .face:nth-of-type(4) {
    background: #000;
  }

  --t1: url('../img/tour1.png');
  --t2: url('../img/tour2.png');
  --t3: url('../img/tour3.png');
  --t4: url('../img/tour4.png');
  --t5: url('../img/tour5.png');

  & .points {
    bottom: 10%;
    opacity: 1;

    & label {
      z-index: 1000;
      width: 100px !important;

      &:hover {
        font-weight: bold;
        transform: scale(1.1);
        background: var(--pd) !important;
        color: white !important;
      }
    }

    & .line {
      height: 5px;
      background: white;
      z-index: 500;
    }
  }
}

:has(#t1:checked) {
  & .tour-tab {
    --bg1: var(--t1);
    --bg2: var(--t1);

    & .points {
      animation: invisible1 2s linear;
    }

    & .t1 {
      transform: scale(1.1);
      background: var(--pd) !important;
      color: white !important;
      font-weight: bold;
    }

    & .cube {
      animation-name: t1;
    }
  }

  & .g1 {
    display: flex;
    animation: show-up 0.5s forwards;
  }
}

:has(#t2:checked) {
  & .tour-tab {
    --bg1: var(--t2);
    --bg2: var(--t2);

    & .points {
      animation: invisible2 2s linear;
    }

    & .t2 {
      transform: scale(1.1);
      background: var(--pd) !important;
      color: white !important;
      font-weight: bold;
    }

    & .cube {
      animation-name: t2;
    }
  }

  & .g2 {
    display: flex;
    animation: show-up 0.5s forwards;
  }
}

:has(#t3:checked) {
  & .tour-tab {
    --bg1: var(--t3);
    --bg2: var(--t3);

    & .points {
      animation: invisible3 2s linear;
    }

    & .t3 {
      transform: scale(1.1);
      background: var(--pd) !important;
      color: white !important;
      font-weight: bold;
    }

    & .cube {
      animation-name: t3;
    }
  }

  & .g3 {
    display: flex;
    animation: show-up 0.5s forwards;
  }
}

:has(#t4:checked) {
  & .tour-tab {
    --bg1: var(--t4);
    --bg2: var(--t4);

    & .points {
      animation: invisible4 2s linear;
    }

    & .t4 {
      transform: scale(1.1);
      background: var(--pd) !important;
      color: white !important;
      font-weight: bold;
    }

    & .cube {
      animation-name: t4;
    }
  }

  & .g4 {
    display: flex;
    animation: show-up 0.5s forwards;
  }
}

:has(#t5:checked) {
  & .tour-tab {
    --bg1: var(--t5);
    --bg2: var(--t5);

    & .points {
      animation: invisible5 2s linear;
    }

    & .t5 {
      transform: scale(1.1);
      background: var(--pd) !important;
      color: white !important;
      font-weight: bold;
    }

    & .cube {
      animation-name: t5;
    }
  }

  & .g5 {
    display: flex;
    animation: show-up 0.5s forwards;
  }
}

@keyframes t1 {
  from {
    --turn: 0deg;
  }

  to {
    --turn: -90deg;
  }
}

@keyframes t2 {
  from {
    --turn: 0deg;
  }

  to {
    --turn: -90deg;
  }
}

@keyframes t3 {
  from {
    --turn: 0deg;
  }

  to {
    --turn: -90deg;
  }
}

@keyframes t4 {
  from {
    --turn: 0deg;
  }

  to {
    --turn: -90deg;
  }
}

@keyframes t5 {
  from {
    --turn: 0deg;
  }

  to {
    --turn: -90deg;
  }
}

@keyframes invisible1 {

  from,
  to {
    opacity: 0;
  }
}

@keyframes invisible2 {

  from,
  to {
    opacity: 0;
  }
}

@keyframes invisible3 {

  from,
  to {
    opacity: 0;
  }
}

@keyframes invisible4 {

  from,
  to {
    opacity: 0;
  }
}

@keyframes invisible5 {

  from,
  to {
    opacity: 0;
  }
}

.tour-gallery {

  & .tour-slide {
    position: absolute;
    width: var(--w);
    height: var(--h);
  }

  & .tour-grid {
    display: none;
    --img-op: 0;
    --img-y: 100%;

  }
}

.gallery-container {
  aspect-ratio: 1;
  --clip: 30px;
  cursor: pointer;

  & img {
    opacity: var(--img-op);
    transform: translateY(var(--img-y));
  }
}

.gallery-img {
  position: relative;
  overflow: hidden;
  --img-w: 100%;
  --img-h: 100%;
  --line-w: 0%;
  --car-w: 70px;
  --car-l: 0%;
  --car-h: calc(var(--car-w) * 0.7);
  width: var(--img-w);
  height: var(--img-h);

  &:hover {
    --line-w: 100%;
    --car-l: 100%;

    & .car {
      transition: left 2s .5s cubic-bezier(0.2, 1.0, 0.4, 1.0);
    }
  }

  &::before {
    content: '';
    height: 2px;
    background: white;
    position: absolute;
    width: var(--line-w);
    left: 0;
    bottom: 25%;
    transition: width .5s;
    z-index: 100;
  }

  & .car {
    position: absolute;

    width: var(--car-w);
    height: var(--car-h);
    background-image: url('../img/car.png');
    background-size: 100% 100%;
    bottom: 25%;
    left: var(--car-l);
    transform: translateX(-100%);
    transition: left .5s;
    z-index: 100;
  }
}

@property --img-op {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --img-y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@keyframes tour-slide {
  from {
    left: 0px
  }

  to {
    left: calc(var(--width-per-img) * var(--r) * -1)
  }
}

@keyframes show-up {
  from {
    --img-op: 0;
    --img-y: 100%;
  }

  to {
    --img-op: 1;
    --img-y: 0%;
  }
}