/* styles.css */
.image-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: calc(100% - 40px);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-caption {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: calc(16px + (100vw - 768px) / 20);
}

.image-caption-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Responsive design */

@media (max-width: 768px) {
  .responsive-image {
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 480px) {
  .responsive-image {
    max-width: calc(100% - 10px);
  }
  .image-caption {
    font-size: 14px;
  }
}